.topBar {
    display: flex;
    justify-content: space-between;
    padding: 16px;

    .themeSelect {
        display: flex;
        align-items: center;
        gap: 16px;
        opacity: 0.7;
        transition: 0.5s ease;

        span {
            cursor: pointer;

            &:hover {
                color: var(--color-tertiary);
                text-decoration-line: underline;
                text-decoration-style: dashed;
            }

            &.selected {
                text-decoration-line: underline;
                text-decoration-style: solid;
            }
        }
    }

    &:hover .themeSelect {
        opacity: 1;
    }
}