.segmentedButton {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 1px solid var(--color-outline);
  border-radius: 24px;

  li {
    padding: 10px 24px;
    border-right: 1px solid var(--color-outline);
    cursor: pointer;
    font-weight: bold;

    &.selected {
      background-color: var(--color-secondary-container);
      color: var(--color-on-secondary-container);
    }

    &:hover {
      background-color: var(--color-surface-variant);
      color: var(--color-on-surface);
    }

    &:first-child {
      border-radius: 24px 0 0 24px;
    }

    &:last-child {
      border-right: none;
      border-radius: 0 24px 24px 0;
    }
  }
}
